* {
    margin: 0;
    padding: 0;
}
.animalChoice , .animalImg{
    display: flex;
    justify-content: center;
}
.animalImg {
    padding-top: 5%;
}
.animalChoice{
    justify-content:space-around;
    margin-top: 10%;
}
.animalChoice p {
    width: 10%;
    border-radius: 10%;
    padding: 20px;
    background-color: rgb(150, 89, 9);
    text-align: center;
    color: white;
    font-size: larger;
    transition: 0.5s;
}
.animalChoice p:hover{
    cursor: pointer;
    background-color: rgb(80, 251, 80);

}

/* // ---------------------------------------------------------------- */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#closePopup {
    background: #ff5733;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* // ---------------------------------------------------------------- */